# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# virtual environment
venv/

# PyCharm settings
.idea/
.idea/*

# logs
*.log

# env files
.env

# pre-commit
.pre-commit/

# certs
*.crt
*.csr
*.key

# excel
*.xlsx
